@page "/"

<PageTitle>Welcome to CoinInsight</PageTitle>

<main class="container-fluid">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="row">
            <div class="col">
                <h2>
                    Cryptocurrency trends at your fingertips
                </h2>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>