@page "/"

<PageTitle>Welcome to CoinInsight</PageTitle>

<div class="position-relative overflow-hidden p-0 jumbotron-dark mb-5">
    <div class="container-md mt-2 mb-2">
        <div class="row featurette">
            <div class="col-md-7 text-start">
                <div style="max-width: 450px;">
                    <h1 class="lh-1 fw-bold" style="margin-top: 100px;">Cryptocurrency trends at your fingertips</h1>
                </div>
                <p class="fs-5 text mt-5 fw-light">
                    Install the app, activate signals for the cryptocurrencies you are interested in, and catch the latest trends. 
                    Participate in hourly polls and share your thoughts with others.
                </p>
                <a class="mt-5"  href="https://apps.apple.com/us/app/coininsight/id6476925677" <img src="img/appstore.svg" width="150px"/>
                </a>
            </div>
            <div class="col-md-5">
                <img src="img/rYuAkmYKVNvcITuQyT3ShSeFhes.png" class="" height="640px" alt="">
            </div>
        </div>
    </div>
</div>

<h1 class="text-center fw-bold" style="margin-top: 100px;">Features</h1>
<div class="container-md align-items-center mb-5">
    <div class="bar"></div>
</div>

<div class="container-md" style="margin-top: 100px;">
    <div class="row featurette">
        <div class="col-md-5 rounded-big" data-bs-theme="dark">
            <table id="signals-container" class="table p-2 rounded table-striped" style="overflow: hidden;">
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-md-7 ps-5">
            <h2 class="featurette-heading fw-bold lh-1 ps-5 mt-0">Signals</h2>
            <p class="ps-5 lead pt-2 text-body-secondary">Track a cryptocurrency and catch its instant movement changes
                in advance, and don’t miss potential buying and selling opportunities.</p>
                <small class="ps-5">Please read FAQ for learn more about signals.</small>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-bold lh-1 pe-5">Community</h2>
            <p class="lead pe-5 pt-2 text-body-secondary">Learn our community prediction of crypto
                currency for upcoming 4, 12 and 24
                hours.</p>
        </div>
        <div class="col-md-5 order-md-2">
            <img class="img-fluid rounded-big" src="img/Oai9LLzK4bI9CICB36Iijzr4.png" />
        </div>
    </div>
</div>

<h1 class="text-center fw-bold" style="margin-top: 100px;">FAQ</h1>
<div class="container-md align-items-center mb-5">
    <div class="bar"></div>
</div>

<div class="container mt-5 mb-5">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    What is CoinInsight?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>CoinInsight</strong> analyzes the price movements by examining the exchanges where
                    cryptocurrencies are listed. After this analysis, it shares information with you about the direction
                    of the movement. Additionally, it is an application that shares the direction predictions of users
                    based on specific time intervals.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What is a Signal?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Although it is difficult to make a precise prediction about when the prices of cryptocurrencies will
                    rise and fall,
                    some factors that may affect price movements and analysis methods can be considered to get an idea.
                    Our algorithm tries to predict the possible movement after a specific technical analysis.
                    We communicate this prediction to you as a signal.
                    <br />
                    <br />
                    <strong>The signals are created only to help you make more informed predictions. It is important to
                        conduct thorough research and consider the risks before investing.</strong>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    I have received a signal but I do not know the meaning of it?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    A signal contains two main pieces of information. The first is the price movement (“Buy” or “Sell”)
                    and its probability of continuing. In some cases, the algorithm may generate both buy and sell
                    signals in short intervals. This means that, depending on the probability, there is a possibility of
                    horizontal price movement. A high probability indicates high volatility.

                    <br /><br />The important point to remember here is that these signals are generated to help you
                    understand market movements. <strong>We do not recommend making trades based solely on these
                        signals.</strong> Do not neglect to perform the necessary technical analyses when trading
                    cryptocurrencies.
                </div>
            </div>
        </div>
                <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    I have concerns about voting. Does my vote related with personal data?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    No, there is no connection between the votes you cast on the application and your personal data. 
                    As CoinInsight, we do not request any personal information such as name, surname, 
                    email, phone number, etc. In summary, the votes you cast remain anonymous in the system.
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center fw-bold" style="margin-top: 100px;">Download</h1>
<div class="container-md align-items-center mb-5">
    <div class="bar"></div>
</div>
<div class="mx-auto mb-5" style="width: 200px;">
    <a href="https://apps.apple.com/us/app/coininsight/id6476925677" <img src="img/appstore.svg" width="200px"/></a>
</div>
<script>
    const apiUrl = 'https://api.coininsight.app/Signal/lastSignals';

    function generateHTML(data) {
        const tbody = document.querySelector('#signals-container tbody');
        data.forEach(signal => {
            const shortSymbol = signal.symbolCode.slice(0, -4);
            const probabilityPercent = (signal.probability * 100).toFixed(2);
            const action = signal.isUp ? 'buy' : 'sell';

            let ratioCls = "progress-bar bg-danger";
            if (probabilityPercent > 33 && probabilityPercent < 67) {
                ratioCls = "progress-bar bg-warning";
            } else if (probabilityPercent > 67) {
                ratioCls = "progress-bar bg-success";
            }

            const eventTime = new Date(signal.eventTime);
            const eventHour = eventTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });

            const html = `
                    <tr>
                        <td>
                            <div class="progress" role="progressbar" aria-valuenow="${probabilityPercent}"
                                aria-valuemin="0" aria-valuemax="100" style="height: 5px; width: 40px;">
                                <div class="${ratioCls}" style="width: ${probabilityPercent}%"></div>
                            </div>
                        </td>
                        <td><strong>${shortSymbol}</strong></td>
                        <td>${action.toUpperCase()} signal <small class="text-body-secondary">(${probabilityPercent}% possibility)</small></td>
                        <td><small class="text-body-secondary text-end">${eventHour}</small></td>
                    </tr>`;
            tbody.innerHTML += html;
        });
    }

    fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
            generateHTML(data);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
</script>