@page "/"

<PageTitle>Welcome to CoinInsight</PageTitle>

<main>
    <div class="position-relative overflow-hidden p-0 jumbotron-dark mb-5">
        <div class="container-fluid p-md-5 m-md-3 ">
            <div class="row">
                <div class="col text-start">
                    <h2>
                        Cryptocurrency trends at your fingertips
                    </h2>
                    <p>
                        Download and activate signals.
                    </p>
                    <img src="img/appstore.svg" />
                </div>
                <div class="col">
                    <img src="img/rYuAkmYKVNvcITuQyT3ShSeFhes.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>

    <h4 class="text-center mt-5 mb-5">Features</h4>

    <div class="container mt-5">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="img-fluid rounded" src="img/2P00G3U88XmDckPq2qhMqAx3qI.png" />
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Signals featurette</h2>
                <p>lorem ipsum</p>
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Community</h2>
                <p class="lead">lead css fea Learn our community prediction of crypto currency for upcoming 4, 12 and 24 hours.</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="img-fluid rounded" src="img/Oai9LLzK4bI9CICB36Iijzr4.png" />
            </div>
        </div>
    </div>

    <h4 class="text-center mt-5">FAQ</h4>
    <div class="container mt-5 mb-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is CoinInsight?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What is a Signal?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img src="img/hCQOTsFLetm0lTBK4p7lGfNKlY.webp" alt="Logo" width="20" height="20" />
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2024 CoinInsight</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>
    </div>
</main>