@page "/dashboard/users"
@layout DashboardLayout
@using CoinVotesWeb.Components.Layout
@using CoinVotesWeb.Data
@using CoinVotesWeb.Models
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Context

<PageTitle>Users - Dashboard</PageTitle>

<div class="card bg-dark text-light">
    <div class="card-header bg-dark border-secondary">
        <h3 class="card-title text-light">Users</h3>
    </div>
    
</div>
