html, body {
    font-family: 'Inter', sans-serif;
}
body {
    min-height: 75rem;
    padding-top: 0rem;
}

.jumbotron-dark {
    background-color: #16171C;
}

.nav-dark {
    background-color: black!important;
}
.navbar-brand img {
    vertical-align: text-top;
}